.header
  background-color: $header-bg
  height: 86px

.navbar
  height: 100%
  &-brand
    font-size: 1.286em
    &__logo
      margin-right: 1.929em
    &__text
      vertical-align: sub
      color: $white-color
      font-family: "Myriad Pro", sans-serif
      font-size: 1.286em
      font-weight: 700
      text-transform: uppercase
      letter-spacing: 0.9px
  &-nav
    height: 100%
    align-items: center
    flex-direction: row
    margin-left: auto
    &__item
      margin-right: 2.643em
    &__link
      color: $white-color
      font-family: "Myriad Pro" ,sans-serif
      font-size: 1.143em
      font-weight: 400
      text-transform: uppercase
    &__button
      width: 117px
      height: 45px
      background-color: $header-btn-bg
      font-size: 1.214em
      color: $white-color
      font-weight: 400
      border-radius: 5px
